{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
<br>
<br>
<br>
{% if object_list %}
<div class="container">
<form class="form-inline mb-5" method="GET">
    <div class="form-group mx-3">
        <label class="mr-2">Buscar por rut de mensaje:</label>
        <input type="text" class="form-control mr-2" name="rut-mensajes">       
        <button class="btn btn-secondary" type="submit" name="btn-buscarRutMensajes">Buscar</button>            
    </div>

    <div class="form-group mx-3">
        <label class="mr-2">Buscar por gato de mensaje:</label>
        <input type="text" class="form-control mr-2" name="nombre-gato">            
        <button class="btn btn-secondary" type="submit" name="btn-nombre-gato">Buscar</button>            
    </div>        

</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Gato favorito</th>
        </tr>
    </thead>
    <tbody>
        {% for mensaje in object_list %}
        <tr>
            <th scope="row">{{ mensaje.nombre }} </th>
            <td>{{ mensaje.rut }}</td>
            <td>{{ mensaje.email }}</td>
            <td>{{ mensaje.telefono }}</td>
            <td>{{ mensaje.gato }}</td>
            {% if user.is_superuser %}
            <td><a class="btn btn-primary" href="{% url 'edit_mensaje' mensaje.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'del_mensaje' mensaje.id %}">Eliminar</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% else %}
    <h1>No hay registros de mensajes</h1>
{% endif %} {% endblock %}