{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
<br>
<br>
<br>
<div class="container">
<form id="form-cuidados" class="jumbotron" action="#" method="POST" autocomplete="on">
    <h4 class="text-center font-weight-bold">Dejanos tu mensaje junto a tu gato favorito!</h4>
        {% csrf_token %}
        {{ form }}
        <br>
        <button class="rainbow rainbow-1" id="boton" type="submit">GRABAR</button>
</form> 
</div>
<br>
<br>
<br>
{% endblock content %}