{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <h1 class="mt-4 mb-3">Cuidados</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">inicio</a>
      </li>
      <li class="breadcrumb-item active">Cuidados</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="img/cuidados.jpg" alt="">


    <p>Para tener un gato en casa son necesarias las mismas condiciones que se requieren para cualquier otro animal doméstico: responsabilidad para cuidarlo adecuadamente y respeto por su forma de ser. El secreto es que la convivencia sea feliz tanto para los propietarios como para las mascotas.</p>
    <p>Lo primero que se asocia con un gato es un recipiente con leche cerca del comedero; realmente la leche es importante en la dieta diaria de los cachorros, pero comienza probando con poca cantidad porque algunos gatitos no la toleran y les provoca vómitos y diarreas.</p>
    <p>El gato es un animal tan limpio que él mismo realiza su cuidado diario lamiéndose el pelo hasta dejarlo muy brillante y libre de polvo. Lo mismo hace si lo toca un desconocido. Como su lengua es áspera arrastra la suciedad hasta que no queda ni rastro de ella.</p>
    <p>Los gatos son muy pulcros y rechazan los lugares sucios, por eso es preciso mantener la bandeja muy limpia y cambiar el aserrín o la arena una vez al día, porque si la encuentra sucia no querrá utilizarla. Una de sus costumbres es escarbar y hacer agujeros para orinar o defecar y luego taparlo con las patas traseras.</p>
    <p>Para los felinos es indispensable la comodidad. Tienes que escoger un lugar especial para él, preferiblemente una zona caldeada en invierno. Puedes poner una manta o un paño dentro de una camita de mimbre o de otro material, de las que venden en las tiendas de animales, para que esté a gusto.</p>
    <p>Aunque es uno de los animales domésticos más limpios y que más se cuidan, puedes ayudarle a mantener su pelo sin nudos y más suave y brillante, si lo cepillas todos los días o, por lo menos, tres veces a la semana. ¡Verás como lo mantienes radiante y feliz!</p>
    
    <h1 class="my-4">Alimentación</h1>
    <p>Es importante que tu gato coma el pienso adecuado para su edad, raza y estado de salud. Aparte de la cantidad que te indique el veterinario que debes poner en su comedero, lo habitual es que coman tres veces al día, aunque también puedes dejarle su ración completa y no preocuparte más: todos los gatos saben dosificar perfectamente su comida.</p>
    <p>Lo primero que se asocia con un gato es un recipiente con leche cerca del comedero; realmente la leche es importante en la dieta diaria de los cachorros, pero comienza probando con poca cantidad porque algunos gatitos no la toleran y les provoca vómitos y diarreas.</p>

    <h1 class="my-4">Los juegos</h1>
    <p>Cuando tu gato juega contigo o con otros gatos, lo que realmente hace es practicar técnicas de caza. Se lanza repentinamente sobre una pelota, corre hacia un ratón imaginario y otros juegos parecidos; cazar es su instinto desde que nace y permanece a lo largo de toda su vida.</p>
    <p>Los gatos son muy juguetones cuando ellos quieren y les apetece. Entre sus juguetes preferidos están las gomas para el pelo, los ovillos de lana y, en general, aquello que se mueve al tocarlo con sus patitas. El juego es imprescindible porque así mantienen la elasticidad y un desarrollo muscular adecuado.</p>
    <p>Si tu gato se revuelca por el suelo es que está contento y también es una muestra de confianza. Sobre todo si se echa delante de ti incitándote a participar de la «fiesta». Sólo adopta esa posición cuando está seguro de que tú no le harás ningún daño. Pero, si ha sufrido malos tratos, será tan desconfiado que nunca lo hará.</p>

    <h1 class="my-4">Enséñale a...</h1>
    <p>Los nombres que los gatos reconocen más fácilmente son los nombres cortos con un par de vocales. Cuando lo llames hazlo con un tono de voz suave y cariñosa. Si le gritas, no solo no te obedecerá sino que lo asustarás y no conseguirás enseñarle nada.</p>
    <p>Si se le enseña con mucha paciencia, un gato puede aprender a devolver un juguete para que el amo lo vuelva a lanzar y así continuar con el juego. Cuando se acostumbre, le encantará, pero recuerda que sus hábitos van cambiando con el paso de los años y quizás en algún momento esto deje de divertirle.</p>
    <p>Si estás dispuesto a llevar un cachorro de gato a casa es mejor que lo hagas cuando ha sido destetado (alrededor de los dos meses) para que puedas educarlo y acostumbrarlo a estar contigo desde pequeñito. Además, los gatitos que han recibido afecto y buenos cuidados desde el principio suelen ser más cariñosos con las personas con las que conviven.</p>
    <p>Desde muy pequeños aprenden a hacer sus necesidades en la bandeja si se la colocas cerca. Es muy curioso ver cómo al llegar a su nueva casa, si lo acercas a ella, rápidamente se colocará encima de la arena o el aserrín para orinar.</p>
    <p>Así la ha hecho suya y verás que a partir de ese momento siempre hará sus necesidades allí.</p>

    <h1 class="my-4">Tú y tu gato</h1>
    <p>La piel de los gatos esta repleta de puntos muy, muy sensibles y, además, el pelo de sus patas, sus cejas y sus bigotes son órganos que trasmiten a su cerebro continuas sensaciones de todo tipo. Así pueden detectar si hay peligro, si el ambiente es grato y cualquier otra cosa que les interese.</p>
    <p>Cuanto más te comuniques con tu gato, mejor será tu relación con él. Aprende a interpretar sus señales. Por ejemplo, si mueve la cola no siempre indica alegría, porque si lo hace muy rápidamente, seguro que lo que intenta comunicar es que está enfadado, incómodo o que tiene miedo.</p>
    <p>Rascar o arañar es una necesidad y un comportamiento natural de los gatos, lo hacen para cambiar las fundas protectoras de las uñas, para mantenerlas afiladas y también para marcar su presencia. Puedes comprar un palo de madera o cualquier otro objeto de los que venden en las tiendas de animales para acostumbrarlo a que lo arañe y evitar así que lo haga en las paredes o los muebles.</p>
    <p>Si un gato quiere atemorizar, adopta una posición amenazante: arquea el lomo y eriza todos los pelos del cuerpo, con el objetivo de parecer más grande. Al mismo tiempo bufan, para imponerse ante su posible «enemigo» y estar preparados si necesitan defenderse.</p>
    <p>Cada vez que un gato se despierta o se levanta de su cama tiene la costumbre de echarse hacia adelante primero y luego hacia atrás, para estirar bien su cuerpo, separando un poco las patas para apoyarse mejor y curvando ligeramente el lomo. Así es como se despereza, a veces incluso le verás bostezar.</p>
    <p>Sus ojos están especialmente adaptados a la visión nocturna y tienen unas membranas, que son como párpados suplementarios que les permiten cierta visibilidad incluso cuando cubren el ojo. Por eso, pueden andar entre malezas o plantas espinosas sin dañarse la vista.</p>

    
</div>

{% endblock %}